<launch>
  <!--
  <node pkg="wall_follower" name="safety_controller" type="safety_controller.py" output="screen">
  </node>
  -->

  <node pkg="final_challenge" name="lane_pursuit" type="lane_pursuit.py" output="screen">
  	<param name="drive_topic" value="/vesc/ackermann_cmd_mux/input/navigation" />
  </node>

  <node pkg="final_challenge" name="lane_detector" type="lane_detector.py" output="screen">
  </node>

  <node pkg="final_challenge" name="homography_transformer" type="homography_transformer.py" output="screen">
  </node>

  <node pkg="image_transport" name="republish" type="republish" args="raw in:=/lane_debug_img out:=/lane_debug_img_compressed" output="screen"></node>

</launch>
